## Quality Issues


### `twitter_archive` table
<ul>
    <li>timestamp to date time data type</li>
    <li>tweet_id to be converted to string data type from integer</li>
    <li>contains retweets</li>
    <li>unnecessary columns present [retweeted_status_id, retweeted_status_user_id,retweeted_status_timestamp, in_reply_to_status_id, in_reply_to_user_id]</li>                                 
</ul>

### `image_pred` table
<ul>
    <li>"a" tags in source</li>    
    <li>"_" used as separator in p1 column of image_pred df</li>
    <li>"_" used as separator in p2 column of image_pred df</li>
    <li>"_" used as separator in p3 column of image_pred df</li>
    <li>tweet_id in image_pred to be converted to string data type from integer</li>
    <li>image_num to String data type</li>
    <li> "-" in certain letters to split them</li>
    <li>Not all first names, second names and third names are capitalized</li>
</ul>

### `tweet_info` table
<ul>
    <li>timestamp should be date time data type</li>
    <li>retweet_count column should be integer</li>
    <li>favorite_count should be integer</li>
</ul>

## Tidiness Issues

<ul>
    <li>Type of dog in "doggo", "floofer", "pupper", "puppo" columns instead of one column.</li>
    <li>`tweet_info` table should be a part of `twitter_archive` table</li>
</ul>

# Clean

In [12]:
twitter_clean = twitter_archive.copy()
image_pred_clean = image_pred.copy()
tweet_info_clean = tweet_info.copy()

## `twitter_archive` has retweets present in it

### Define

Get indices of rows that contain retweets, drop these rows and reindex

### Code

In [13]:
temp_df = twitter_clean[twitter_clean.retweeted_status_id.notnull()]
retweet_indices = list(temp_df.index.values)
twitter_clean.drop(index=retweet_indices, axis=0, inplace=True)
twitter_clean=twitter_clean.reset_index(drop=True)

### Test

In [14]:
twitter_clean[twitter_clean.retweeted_status_id.notnull()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

## `twitter_archive` Unnecessary columns present in table

### Define

Remove retweeted_status_id, retweeted_status_user_id,retweeted_status_timestamp, in_reply_to_status_id, in_reply_to_user_id columns as they are not necessary for our analyses.

### Code

In [15]:
twitter_clean.drop(["retweeted_status_id", "retweeted_status_user_id", "retweeted_status_timestamp", \
                    "in_reply_to_status_id", "in_reply_to_user_id"], axis=1, inplace=True)

### Test

In [16]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 12 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null object
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: int64(3), object(9)
memory usage: 204.0+ KB

## `twitter_archive`: timestamp to date time data type

### Define

timestamp column is in object data type and changing it to date_time date type makes analysis easier

### Code

In [17]:
twitter_clean["timestamp"] = pd.to_datetime(twitter_archive["timestamp"])

### Test

In [18]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 12 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null datetime64[ns]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 204.0+ KB

## `image_pred`: HTML a tags in source column

### Define

URL links are enclosed inside opening and closing "a" tags.

### Code

In [19]:
twitter_clean["source"] = twitter_clean["source"].str.extract(r'(http[^\"^\s]*)')

### Test

In [20]:
twitter_clean.source.sample(10)

934     http://twitter.com/download/iphone
361     http://twitter.com/download/iphone
1528    http://twitter.com/download/iphone
9       http://twitter.com/download/iphone
1381    http://twitter.com/download/iphone
2006    http://twitter.com/download/iphone
952     http://twitter.com/download/iphone
1143    http://twitter.com/download/iphone
45      http://twitter.com/download/iphone
2043    http://twitter.com/download/iphone
Name: source, dtype: object

In [21]:
tweet_info.head(5)

,tweet_id,timestamp,retweet_count,favorite_count
0,892420643555336193,Tue Aug 01 16:23:56 +0000 2017,8330,38100
1,892177421306343426,Tue Aug 01 00:17:27 +0000 2017,6154,32690
2,891815181378084864,Mon Jul 31 00:18:03 +0000 2017,4072,24599
3,891689557279858688,Sun Jul 30 15:58:51 +0000 2017,8474,41456
4,891327558926688256,Sat Jul 29 16:00:24 +0000 2017,9168,39628

## `tweet_info` tweet id should be a string

### Define

Convert tweet_id column to integer data type

### Code

In [22]:
tweet_info_clean["tweet_id"] = tweet_info_clean.tweet_id.astype(int)

### Test

In [23]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 12 columns):
tweet_id              2175 non-null int64
timestamp             2175 non-null datetime64[ns]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 204.0+ KB

## `twitter_archive` tweet_id should be a string

### Define
Convert tweet_id to String

## Code

In [24]:
twitter_clean["tweet_id"] = twitter_clean.tweet_id.astype(str)

### Test

In [25]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 12 columns):
tweet_id              2175 non-null object
timestamp             2175 non-null datetime64[ns]
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 204.0+ KB

## `image_pred` "_" used as separators in p1, p2 and p3

### Define
Replace _ with spaces in p1, p2 and p3 columns

### Code

In [26]:
image_pred_clean.p1.head()

0    Welsh_springer_spaniel
1                   redbone
2           German_shepherd
3       Rhodesian_ridgeback
4        miniature_pinscher
Name: p1, dtype: object

In [27]:
image_pred_clean["p1"] = image_pred_clean.p1.str.replace("_", " ")
image_pred_clean["p2"] = image_pred_clean.p2.str.replace("_", " ")
image_pred_clean["p3"] = image_pred_clean.p3.str.replace("_", " ")

### Test

In [28]:
print(image_pred_clean.p1.head())
print(image_pred_clean.p2.head())
print(image_pred_clean.p3.head())

0    Welsh springer spaniel
1                   redbone
2           German shepherd
3       Rhodesian ridgeback
4        miniature pinscher
Name: p1, dtype: object
0                collie
1    miniature pinscher
2              malinois
3               redbone
4            Rottweiler
Name: p2, dtype: object
0      Shetland sheepdog
1    Rhodesian ridgeback
2             bloodhound
3     miniature pinscher
4               Doberman
Name: p3, dtype: object

## `image_pred` "-" used as separator of names in some rows

### Define

Replace - with spaces in p1, p2 and p3 colunns

### Code

In [29]:
image_pred_clean["p1"] = image_pred_clean.p1.str.replace("-", " ")
image_pred_clean["p2"] = image_pred_clean.p2.str.replace("-", " ")
image_pred_clean["p3"] = image_pred_clean.p3.str.replace("-", " ")

### Test

In [30]:
image_pred_clean.p1.sample(10)

1297                upright
98              fire engine
1015              Chihuahua
786                     pug
742             Boston bull
760                Cardigan
1597        Norfolk terrier
436              brown bear
1820    Rhodesian ridgeback
1096       Mexican hairless
Name: p1, dtype: object

## `image_pred` Not all first names, second names and third names are capitalized

### Define

Capitalize the first letters of all rows in p1, p2 and p3 columns

### Code

In [31]:
image_pred_clean["p1"] = image_pred_clean.p1.str.title()
image_pred_clean["p2"] = image_pred_clean.p2.str.title()
image_pred_clean["p3"] = image_pred_clean.p3.str.title()

### Test

In [32]:
print(image_pred_clean.p1.sample(5))
print(image_pred_clean.p2.sample(5))
print(image_pred_clean.p3.sample(5))

1453             Chihuahua
1308    Miniature Pinscher
137     Labrador Retriever
182                Cuirass
1569        Cocker Spaniel
Name: p1, dtype: object
102     Chesapeake Bay Retriever
105               Siberian Husky
130                        Skunk
421            Rhinoceros Beetle
1802                Ibizan Hound
Name: p2, dtype: object
377                          Kelpie
1295               Golden Retriever
1994                   Newfoundland
48      West Highland White Terrier
399                             Pug
Name: p3, dtype: object

## `tweet_info` favorite count is an object

### Define

Convert favorite_count to integer data type

### Code

In [33]:
tweet_info_clean["favorite_count"] = tweet_info_clean.favorite_count.astype(int)

### Test

In [34]:
tweet_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 4 columns):
tweet_id          2340 non-null int64
timestamp         2340 non-null object
retweet_count     2340 non-null object
favorite_count    2340 non-null int64
dtypes: int64(2), object(2)
memory usage: 73.2+ KB

## `tweet_info` retweet count should be a string

### Define

Convert retweet count column to integer data type

### Code

In [35]:
tweet_info_clean["retweet_count"] = tweet_info_clean.retweet_count.astype(int)

### Test

In [36]:
tweet_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 4 columns):
tweet_id          2340 non-null int64
timestamp         2340 non-null object
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
dtypes: int64(3), object(1)
memory usage: 73.2+ KB

## `tweet_info` tweet_id should be a string

### Define

Convert tweet_id to String data type

### Code

In [37]:
tweet_info_clean["tweet_id"] = tweet_info_clean.tweet_id.astype(str)

### Test

In [38]:
tweet_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 4 columns):
tweet_id          2340 non-null object
timestamp         2340 non-null object
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
dtypes: int64(2), object(2)
memory usage: 73.2+ KB

## `tweet_info` should be a part of `twitter_archive`

### Define

The columns "retweet_count" and "favorite_counts" should be a part of twitter_archive and these two can be merged on tweet_id

### Code

In [39]:
twitter_clean.drop("timestamp",axis=1, inplace=True)
twitter_clean = twitter_clean.merge(tweet_info_clean, how="left", on="tweet_id")

### Test

In [40]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2174
Data columns (total 14 columns):
tweet_id              2175 non-null object
source                2175 non-null object
text                  2175 non-null object
expanded_urls         2117 non-null object
rating_numerator      2175 non-null int64
rating_denominator    2175 non-null int64
name                  2175 non-null object
doggo                 2175 non-null object
floofer               2175 non-null object
pupper                2175 non-null object
puppo                 2175 non-null object
timestamp             2173 non-null object
retweet_count         2173 non-null float64
favorite_count        2173 non-null float64
dtypes: float64(2), int64(2), object(10)
memory usage: 254.9+ KB

## Sorting `twitter_archive` by timestamp

In [41]:
twitter_clean.sort_values(by=["timestamp"], inplace=True)

## Remove rows with null values in retweet_count and favorite_count

### Define

Since there are only 3 rows with missing values in retweet_count and favorite_count, remove these rows from the data frame.

### Code

In [42]:
twitter_clean = twitter_clean[twitter_clean.retweet_count.notnull()].reset_index(drop=True)

### Test

In [43]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173 entries, 0 to 2172
Data columns (total 14 columns):
tweet_id              2173 non-null object
source                2173 non-null object
text                  2173 non-null object
expanded_urls         2115 non-null object
rating_numerator      2173 non-null int64
rating_denominator    2173 non-null int64
name                  2173 non-null object
doggo                 2173 non-null object
floofer               2173 non-null object
pupper                2173 non-null object
puppo                 2173 non-null object
timestamp             2173 non-null object
retweet_count         2173 non-null float64
favorite_count        2173 non-null float64
dtypes: float64(2), int64(2), object(10)
memory usage: 237.8+ KB

## One variable is present as 4 columns in `twitter_archive` table

### Define

Create a new column to store all dog stages that a dog in a tweet belongs and drop the 4 columns names puppo, pupper, floofer and doggo

### Code

In [44]:
def checkDogStage(a, b, c, d):
    no_nulls = 0
    output = ""
    for i in [a,b,c,d]:
        if i == None or i == "None":
            no_nulls += 1
        else:
            output = output + i + ", "
    if no_nulls == 4:
        return None
    else:
        return output.strip().strip(",")

twitter_clean["dog_stages"] = twitter_clean.apply(lambda row: checkDogStage(row.doggo, row.pupper, row.puppo, row.floofer), axis=1)
twitter_clean.drop(["puppo", "floofer", "pupper", "doggo"], axis=1, inplace=True)

### Test

In [45]:
twitter_clean.dog_stages.sample(10)

755     pupper
90        None
668       None
918       None
1708      None
2095      None
1705      None
965       None
539       None
1067      None
Name: dog_stages, dtype: object

In [46]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173 entries, 0 to 2172
Data columns (total 11 columns):
tweet_id              2173 non-null object
source                2173 non-null object
text                  2173 non-null object
expanded_urls         2115 non-null object
rating_numerator      2173 non-null int64
rating_denominator    2173 non-null int64
name                  2173 non-null object
timestamp             2173 non-null object
retweet_count         2173 non-null float64
favorite_count        2173 non-null float64
dog_stages            344 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 186.8+ KB